<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlfA9kXyG3FcAXq6JlMkgQrGJfgTCGMxg</string>
	<key>GCM_SENDER_ID</key>
	<string>38114027904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.campusafricamaintanance.app</string>
	<key>PROJECT_ID</key>
	<string>campus-africa-5p16dz</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-africa-5p16dz.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38114027904:ios:2c58cb80e9beee88557965</string>
</dict>
</plist>